h1{
    text-shadow: 3px 3px blueviolet;
}

.box{
    border: 1px solid black;
    background-color: orangered;
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px green;

}
.ankit{
    border: 1px solid black;
    background-color: orangered;
    height: 200px;
    width: 200px;
    margin: 50px;
    box-shadow: -10px -10px blue;
}