*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}
.container{
    border: 2px solid green;
    height: 400px;
    /* display: flex; converts our element into flex  */
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap;  */
    /* this will keep the width intact keeping it from squeezing*/
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
    /* justify-content: center;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch; */
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: center; */
    /* gap: 10px; */
}

.box{
    border: 1px solid blue;
    width: 100px;
    background-color: aqua;
    /* background-image: linear-gradient(to bottom left, red , yellow); */
    /* flex-grow: 1; */
}

#box1{
    flex-grow: 1;
    order: 1;
}

#box4{
    order: 3;
}

#box3{
    order: 2;
    align-self: flex-end;
}